<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather </title>
    <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/luchesa-vol-9/128/Weather-512.png">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    {{>header}}
    <input type="text">
    <button>Search</button>
    <script src="js/app.js"></script>
</body>

</html>